<div class="schedule-container">
    <div fxLayout="row">
        <div fxFlex>
            <p><b>Schedule</b></p>
        </div>
        <div fxFlex class="delete" fxLayoutAlign="end">
            <mat-icon (click)="deleteSchedule('value')">delete</mat-icon>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="12px">
        <div fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Confirmed Quantity</mat-label>
                <input matInput placeholder="Enter Number">
                <mat-hint>Required</mat-hint>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Expected Arrival Date</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-hint>Required</mat-hint>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Expected Ship Date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>