<h1 mat-dialog-title>Split Line {{ line.lineNumber }}: {{ line.lineTitle }}</h1>
<div mat-dialog-content>
    <p><b>Requested</b></p>
    <p>
        Quantity: {{ line.quantity[0].ordered }} {{ line.quantity[0].unitType }}<br/>
        Expected Arrival Date: {{ line.arrivalDate[0].requested }}
    </p>
    <div fxLayout="column">
        <div>
            <ng-template #scheduleContainer>
                <app-schedule [scheduleIndex]="scheduleIndex" (delete)="test($event)"></app-schedule>
            </ng-template>
        </div>
    </div>
    <button mat-stroked-button class="add-schedule-btn" (click)="addScheduleComponent(scheduleComponentClass)">Add Schedule</button>
    <div class="counter-container">
        <span class="total"><b>Total: </b> {{ line.quantity[0].ordered }} {{ line.quantity[0].unitType }}</span>
        <span class="remaining"><b>Remaining: {{ line.quantity[0].ordered }} {{ line.quantity[0].unitType }}</b></span>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="save()">Save</button>
</div>