@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@include mat-core();

$scheduler-demo-primary: mat-palette($mat-indigo);
$scheduler-demo-accent: mat-palette($mat-pink, A200, A100, A400);
$scheduler-demo-warn: mat-palette($mat-red);
$scheduler-demo-success: mat-palette($mat-green);

$scheduler-demo-theme: mat-light-theme(
  (
    color: (
      primary: $scheduler-demo-primary,
      accent: $scheduler-demo-accent,
      warn: $scheduler-demo-warn,
      custom: $scheduler-demo-success,
    ),
  )
);

@include angular-material-theme($scheduler-demo-theme);

// Custom color library - The native assignment above was giving me grief.

$blue: #28aae1;
$dark-blue: #127cbb;
$blue-accent: #e9f6fc;
$green: #159a67;
$green-accent: #e7f4ef;
$red: #b00620;
$red-accent: #faeef0;
$black: #1f1f1f;
$grey-accent: #f4f5f6;
$charcoal: #606060;
$white: #ffffff;

// Global Styles

html,
body {
  height: 100%;
  background: $grey-accent;
}
// Not sure why box sizing is not already applied in the material library.
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif!important;
}
app-root {
  height: 100%;
}

h1 {
  font: 300 32px/32px "Lato", sans-serif!important;
}
h2 {
  font: 300 28px/28px "Lato", sans-serif!important;
}
h3 {
  font: 400 20px/20px "Lato", sans-serif!important;
  color: $blue;
}
h4 {
  color: $blue;
  font: 300 16px/16px "Lato", sans-serif!important;
}
p {
  font: 300 16px/24px "Lato", sans-serif!important;
}
button {
  text-transform: uppercase;
}
mat-form-field {
  width: 100%;
}
.mat-icon {
  vertical-align: middle;
}

// Main Container Styles

main {
  section {
    margin-top: 12px;
  }
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 50px auto;
  padding:0 25px;
}

app-details {
  color: $charcoal;
}

// Header & Footer Styles

app-header {
  mat-toolbar {
    background: $white !important;
    padding: 15px !important;
    @include mat-elevation(2, $charcoal, 0.5);
    .logo {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}

app-footer {
  padding: 30px;
  border-top: 1px solid #d3d3d3;
  text-align: center;
  color: $charcoal;
}

// Purchase Order Detail Styles

app-details {
  .po-detail-wrap {
    padding-bottom:25px;
    .po-sub-details {
      span {
        font-weight:300;
        margin-right:12px;
      }
    }
    .vendor-wrap {
      margin-top: 30px;
      padding-top: 30px;
      border-top:1px solid #d3d3d3;
    }
  }
  .language-select {
    font-size: 1.1em;
    color: $charcoal;
    font-weight: 300;
    border:1px solid currentColor;
    cursor:pointer;
    .mat-icon {
      margin-left:36px;
    }
  }
  .info {
    padding:8px;
    cursor:pointer;
  }
}

// This might not be the best solution, but this was the most straightforward for Angular Material Tooltips
.multiline {
  white-space: pre;
  background:white;
  color:$charcoal!important;
  font-size:1em;
  line-height:1.5rem;
  font-weight:300;
  padding:15px!important;
  margin-top:10px!important;
  @include mat-elevation(2, $charcoal, 0.5);
}

app-terms, app-special, app-attachments {
  h3 {
    margin-bottom:0!important;
  }
  p {
    color: $charcoal;
  }
  .mat-expansion-panel-header {
    padding:10px 24px !important;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    @include mat-elevation(2, $charcoal, 0.5);
  }
  .mat-expansion-indicator::after {
    color: $blue;
  }
}

app-order-lines {
  border-top: 1px solid #d3d3d3;
  margin-top:40px;
  padding-top:20px;
  width:100%;
  float:left;
  p {
    font-size:1em;
    color:$charcoal;
  }
  .rejected-text {
    color:$red;
  }
  .card-wrap {
    width:100%;
    float:left;
    margin-top:20px;
    mat-card {
      padding:0!important;
    }
    .mat-card:not([class*=mat-elevation-z]) {
      @include mat-elevation(2, $charcoal, 0.5);
    }
    mat-card-header {
      background: $blue-accent;
      padding:16px 24px;
      .mat-card-header-text {
        margin:0!important;
      }
      h3 {
        padding:8px 0;
        margin:0!important;
        mat-icon {
          padding:0 20px;
          cursor:pointer;
        }
      }
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height:12px!important;
        text-transform: uppercase;
        padding:12px 24px!important;
      }
      .header-row {
        width:100%;
      }
      mat-button-toggle-group {
        button span{
          color:$charcoal;
        }
        .accept{
          :hover{
            background:$green-accent;
            span {color:$green;}
          }
        }
        .accept.mat-button-toggle-checked{
          background:$green-accent;
          span {color:$green;}
        }
        .reject{
          :hover{
            background:$red-accent;
            span {color:$red;}
          }
        }
        .reject.mat-button-toggle-checked{
          background:$red-accent;
          span {color:$red;}
        }
        .change{
          :hover{
            background:$blue-accent;
            span {color:$blue;}
          }
        }
        .change.mat-button-toggle-checked{
          background:$blue-accent;
          span {color:$blue;}
        }
      }
      .add-schedule-btn {
        color:$dark-blue;
        padding:0 24px;
        margin-right:16px;
        .split-icon {
          transform: rotate(90deg);
          margin-right:8px;
          color:$blue;
        }
      }
    }
    mat-card-content {
      padding:24px;
      .details-left {
        border-right:1px solid #d3d3d3;
        padding-right: 24px;
        padding-bottom: 24px;
      }
      .details-right{
        padding-left: 24px;
        padding-bottom: 24px;
        .detail-sub-container {
          border:1px solid #d3d3d3;
          padding:18px;
        }
      }
      .additional-details{
        background:$grey-accent;
        padding:0px;
        width:100%;
        .mat-expansion-panel:not([class*=mat-elevation-z]) {
          box-shadow:none;
          background:none;
        }
        mat-expansion-panel {
          width:100%;
          mat-panel-title{
            h3 {
              margin:0!important;
              color:$dark-blue!important;
            }
          }
          .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
            color:$dark-blue;
          }
        }
        
      }
      .alerts {
        width:100%;
        float:left;
        .accept-alert, .reject-alert, .change-alert {
          width:100%;
          float:left;
          margin-top:18px;
          padding:8px;
          mat-icon {
            margin-right:4px;
          }
        }
        .accept-alert {
          background:$green-accent;
          mat-icon{
            color:$green;
          }
        }
        .reject-alert {
          background:$red-accent;
          mat-icon{
            color:$red;
          }
        }
        .change-alert {
          background:$blue-accent;
          mat-icon{
            color:$dark-blue;
          }
        }
      }
    }
  }
  button.accept-all {
    padding: 4px 60px!important;
    color: $dark-blue!important;
    font-weight:400;
  }
}

app-comments {
  width:100%;
  float:left;
  margin-top: 25px;
}

app-confirm {
  @include mat-elevation(2, $charcoal, 0.5);
  background:white;
  padding:20px 20px 30px 20px;
  width:100%;
  float:left;
  margin-top:25px;
  text-align: center;
  mat-checkbox {
    margin-right:8px;
    label {
      margin-top:-5px;
    }
  }
  a {
    text-decoration: underline;
    color:$blue;
    cursor:pointer;
  }
  span {
    font: 300 16px/24px "Lato", sans-serif!important;
  }
  .btn-wrap {
    width:100%;
    float:left;
    margin-top:15px;
    button {
      margin: 0 5px;
      background-color:$blue;
      color:white;
      span {
        font-weight:bold!important;
        font-size:1em!important;
      }
    }
  }
}
app-split {
  p, mat-icon {
    color:$charcoal;
  }
  .schedule-container {
    width:100%;
    float:left;
    border:1px solid #d3d3d3;
    padding:14px 18px;
    border-radius:4px;
    margin-bottom:15px;
    .delete mat-icon {
      cursor:pointer;
    }
  }
  .add-schedule-btn {
    color:$dark-blue;
  }
  .counter-container {
    padding:12px;
    background-color:$blue-accent;
    border-top:4px solid $blue;
    width:100%;
    float:left;
    margin-top:25px;
    color:$charcoal;
    span {
      margin-right:15px;
      float:left;
    }
  }
}
.mat-dialog-actions {
  button {
    span {
      color:$dark-blue;
    }
  }
}
app-split-table {
  mat-icon {
    color:$blue;
    cursor:pointer;
  }
  .split-table {
    margin-top:25px;
    width:100%;
    float:left;
    table.mat-table {
      @include mat-elevation(2, $charcoal, 0.5);
      width:100%!important;
      tr.mat-header-row {
        height:36px!important;
        background:$blue-accent;
      }
    }
  }
}
