// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$scheduler-demo-primary: mat-palette($mat-indigo);
$scheduler-demo-accent: mat-palette($mat-pink, A200, A100, A400);
$scheduler-demo-warn: mat-palette($mat-red);
$scheduler-demo-success: mat-palette($mat-green);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$scheduler-demo-theme: mat-light-theme(
  (
    color: (
      primary: $scheduler-demo-primary,
      accent: $scheduler-demo-accent,
      warn: $scheduler-demo-warn,
      custom: $scheduler-demo-success,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($scheduler-demo-theme);

/* You can add global styles to this file, and also import other style files */

// Custom color library - The native assignment above was giving me grief.

$blue: #28aae1;
$dark-blue: #127cbb;
$blue-accent: #e9f6fc;
$green: #159a67;
$green-accent: #e7f4ef;
$red: #b00620;
$red-accent: #faeef0;
$black: #1f1f1f;
$grey-accent: #f4f5f6;
$charcoal: #606060;
$white: #ffffff;

html,
body {
  height: 100%;
  background: $grey-accent;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
  height: 100%;
}

// Header & Footer Styles

app-header {
  mat-toolbar {
    background: $white !important;
    padding: 15px !important;
    @include mat-elevation(2, $charcoal, 0.5);
    .logo {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}

app-footer {
  padding: 30px;
  border-top: 1px solid #d3d3d3;
  text-align: center;
  color: $charcoal;
}
